# MySQL/MariaDB Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_DATABASE=
MYSQL_PASSWORD=

# PHPMyAdmin Configuration
PMA_ABSOLUTE_URI=https://{{ domain_name }}/phpmyadmin/

# Grafana Configuration
GRAFANA_USER_NAME=
GRAFANA_PWD=

# Domain Configuration
DOMAIN_NAME={{ domain_name }}
